body.internal {

  $header-height : 5rem;

  header {
    height: $header-height;
    width: 100%;

    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);

    .header-left {
      @include flex(0 0 28rem);
      @include display(flex);
      @include flex-direction(row);
      @include align-items(center);
      @include justify-content(space-between);

      padding-left: 1.5rem;
      font-size: 2rem;
      max-width: 28rem;

      .nav-toggle {
        opacity: 1;
        padding: 5px;
        margin-right: 5px;
        border-radius: 5px;
        cursor: pointer;
        @include transition(opacity, 0.3s);
        i {
          @include fa-icon(bars);
        }
      }

      @media (min-width: 768px) {
        .nav-toggle {
          margin: 0;
          padding: 0;
          width: 0;
          opacity: 0;
        }
      }  

      .circle-name {
        @include flex(1);

        display: inline-block;
        min-width: 0;
        overflow: hidden;
        padding-right: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .header-middle {
      @include flex(1);

      a.back {
        margin-left: 1rem;

        @include lale-icon($lale-icon-arrow-left);
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);

        &:before {
          font-size:    2.25rem;
          margin-right: 0.5em;
        }
      }

      // moved to internal/_layout.scss by kristy
      // .circle-add-menu {
      //   display: inline-block;

      //   label {
      //     @include display(flex);
      //     @include align-items(center);
      //     @include justify-content(middle);

      //     .button-super {
      //       i {
      //         @include fa-icon(plus-circle);
      //       }
      //     }
      //   }

      //   [type="checkbox"]:checked {
      //     & ~ label .button {
      //       background-color: tint($orange, 20%);
      //     }
      //   }
      // }
    }

    .header-right {
      @include display(flex);
      @include align-items(center);
      @include justify-content(flex-end);

      .dropdown {
        label {
          @include display(flex);
          @include align-items(center);
          @include justify-content(middle);
        }

        .user-name {
            margin-right: 1rem;
        }

        .user-avatar {
          .user-icon {
            margin-right: 2rem;
            background: $white;
            font-size: 1.5rem;
            height: 30px;
            width: 30px;
          }
        }

        .menu {
          a {
            font-size: 1.5rem;
            padding: 1.5rem 2rem;
          }
          right: 0;
          margin-right: 0;
          border-color: $light-grey;
          -webkit-box-shadow: 3px 3px 3px -3px rgba(0,0,0,0.1), -3px 3px 3px -3px rgba(0,0,0,0.1);
          -moz-box-shadow:    3px 3px 3px -3px rgba(0,0,0,0.1), -3px 3px 3px -3px rgba(0,0,0,0.1);
          box-shadow:         3px 3px 3px -3px rgba(0,0,0,0.1), -3px 3px 3px -3px rgba(0,0,0,0.1);
        }
      }
    }

    .back {
      font-size: 2rem;
    }

  }
}
