body.internal {
  $header-height : 5rem;

  header {
    height: $header-height;
    width: 100%;

    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);

    .header-left {
      @include flex(0 0 28rem);
      @include display(flex);
      @include flex-direction(row);
      @include align-items(center);
      @include justify-content(space-between);

      padding-left: 1.5rem;
      font-size: 2rem;
      max-width: 28rem;

      .circle-name {
        @include flex(1);

        display: inline-block;
        min-width: 0;
        overflow: hidden;
        padding-right: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .circle-add-menu {
        font-size: 2rem;
        display: inline-block;

        :after {
          @include text-color($orange, $grey);
          margin-left: 5px;
        }

        label {
          @include display(flex);
          @include align-items(center);
          @include justify-content(middle);
          padding: 0.5rem;

          .icon {
            @include display(flex);
            @include align-items(center);
            @include justify-content(left);
            &:after{
              font-family: 'lale';
              font-weight: bolder;
              font-style: normal;
              font-size: 1rem;
              display: inline-block;
              text-decoration: inherit;
              line-height: 0.9;
              content: '+';
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              background: $white;
              padding: 0.1rem 0.2rem;
              border-radius: 0.5rem;
            }
            font-weight: bold;
            font-size: 1.3rem;
            color: $white;
            border-radius: 4px;
            background-color: $orange;
            padding: 4px 10px;
            width: auto;
          }
        }

        [type="checkbox"]:checked {
          & ~ label .icon {
            background-color: tint($orange, 20%);
          }
        }
      }
    }

    .header-middle {
      @include flex(1);

      a.back {
        margin-left: 1rem;

        @include lale-icon($lale-icon-arrow-left);
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);

        &:before {
          font-size:    2.25rem;
          margin-right: 0.5em;
        }
      }

    }

    .header-right {
      @include flex(1);

      @include display(flex);
      @include flex-direction(row);
      @include align-items(center);
      @include justify-content(flex-end);

      .user-menu {
        label {
          @include display(flex);
          @include flex-direction(row);
          @include align-items(center);
        }
        .user-name{
            margin-right: 1rem;
        }

        .user-avatar {
          .user-icon {
            margin-right: 2rem;
            background: $white;
            font-size: 1rem;
            height: 3rem;
            width: 3rem;
          }
        }
      }
    }

    .back {
      font-size: 2rem;
    }

    [type="checkbox"]:checked {
      & ~ .menu {
        display : block;
      }
    }

    [type="checkbox"]:not(:checked),
      [type="checkbox"]:checked {
        position : absolute;
        left     : -9999px;
    }

    [type="checkbox"]:not(:checked) + label,
      [type="checkbox"]:checked + label {
        position     : relative;
        cursor       : pointer;
    }

    .dropdown {
      height: 100%;

      @include display(flex);
      @include align-items(center);
      @include justify-content(center);


//      position: relative;

      label {
        padding: 0 2rem;
        margin: 0;
        height: 100%;
        width:  100%;
      }

      &:hover, label:hover {
        cursor: pointer;
      }

      .menu {
        display: block;
        border: thin solid $light-grey;
        border-top: 0;
        z-index: 1000;
        -webkit-box-shadow: 3px 3px 3px -3px rgba(0,0,0,0.1), -3px 3px 3px -3px rgba(0,0,0,0.1);
        -moz-box-shadow:    3px 3px 3px -3px rgba(0,0,0,0.1), -3px 3px 3px -3px rgba(0,0,0,0.1);
        box-shadow:         3px 3px 3px -3px rgba(0,0,0,0.1), -3px 3px 3px -3px rgba(0,0,0,0.1);

        font-size: 1.5rem;
        display: none;
        position: absolute;
        min-width:  auto;

        top: $header-height;
        background: $white;

        a {
          display: block;
          width: 100%;
          padding: 1.5rem 2rem;
        }

        a:hover{
          background: rgba(0,0,0,0.05);
        }

        hr {
          margin: 0;
        }
      }

      .menu.add-item-dropdown {
//        left: 0;
      }

      .menu.user-dropdown {
        right: 0;
      }
    }
  }
}
