body.internal {
  $header-height : 5rem;

  header {
    height: $header-height;
    width: 100%;

    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);

    .header-left {
      @include flex(0 0 28rem);
      @include display(flex);
      @include flex-direction(row);
      @include align-items(center);
      @include justify-content(space-between);

      padding-left: 1.5rem;
      font-size: 2rem;
      max-width: 28rem;

      .circle-name {
        @include flex(1);

        display: inline-block;
        min-width: 0;
        overflow: hidden;
        padding-right: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .header-middle {
      @include flex(1);

      a.back {
        margin-left: 1rem;

        @include lale-icon($lale-icon-arrow-left);
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);

        &:before {
          font-size:    2.25rem;
          margin-right: 0.5em;
        }
      }

      .circle-add-menu {
        display: inline-block;

        label {
          @include display(flex);
          @include align-items(center);
          @include justify-content(middle);

          .button {
            font-size: 16px;
            padding: 0.5rem 1rem;
            margin: auto;
            i {
              @include fa-icon(plus-circle);
              padding-left: 0.5rem;
              &:before {
                color: $white;
              }
            }
          }
        }

        [type="checkbox"]:checked {
          & ~ label .button {
            background-color: tint($orange, 20%);
          }
        }
      }
    }

    .header-right {
      @include display(flex);
      @include align-items(center);
      @include justify-content(flex-end);

      .user-dropdown-menu {
        label {
          @include display(flex);
          @include align-items(center);
          @include justify-content(middle);
        }

        .user-name{
            margin-right: 1rem;
        }

        .user-avatar {
          .user-icon {
            margin-right: 2rem;
            background: $white;
            font-size: 1.5rem;
            height: 30px;
            width: 30px;
          }
        }
      }
    }

    .back {
      font-size: 2rem;
    }

    [type="checkbox"]:checked {
      & ~ .menu {
        display : block;
      }
    }

    [type="checkbox"]:not(:checked),
      [type="checkbox"]:checked {
        position : absolute;
        left     : -9999px;
    }

    [type="checkbox"]:not(:checked) + label,
      [type="checkbox"]:checked + label {
        position     : relative;
        cursor       : pointer;
    }

    .dropdown {
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);

      position: relative;


      label {
        padding: 0 1rem;
        margin: 0;
        height: $header-height;
        width:  100%;
        user-select: none;
      }

      &:hover, label:hover {
        cursor: pointer;
      }

      .menu {
        font-size: 1.5rem;
        background: $white;
        border: thin solid $light-grey;

        -webkit-box-shadow: 3px 3px 3px -3px rgba(0,0,0,0.1), -3px 3px 3px -3px rgba(0,0,0,0.1);
        -moz-box-shadow:    3px 3px 3px -3px rgba(0,0,0,0.1), -3px 3px 3px -3px rgba(0,0,0,0.1);
        box-shadow:         3px 3px 3px -3px rgba(0,0,0,0.1), -3px 3px 3px -3px rgba(0,0,0,0.1);

        min-width: 100%;

        position: absolute;
        z-index: 3001;
        top: $header-height;
        left: auto;
        right: 0;
        display: none;

        line-height: normal;
        -webkit-border-radius: 0 0 2px 2px;
        -moz-border-radius: 0 0 2px 2px;
        border-radius: 0 0 2px 2px;

        a {
          display: block;
          width: 100%;
          padding: 1.5rem 2rem;
          border-bottom: thin solid $light-grey;
        }

        a:last-child {
          border-bottom: 0;
        }

        a:hover{
          background: rgba(0,0,0,0.05);
        }

        hr {
          margin: 0;
        }
      }

      .menu.menu-left {
        right: auto;
        left: 0;
      }
    }
  }
}
