body.internal {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(stretch);

  .content {
    @include flex(1);
    @include display(flex);
    @include flex-direction(row);
    @include align-items(stretch);

    > section {
      overflow-y: auto;
    }

    nav {
      @include flex(0 0 28rem);

      @include display(flex);
      @include flex-direction(column);

      padding: 3rem 0 0 0 ;

      .sidebar-section {
        padding: 0 0 2rem 0;
        hr {
          margin: 1rem 1.5rem 1rem 3rem;
        }
        &.add_menu {
          margin: 0;
          padding: 0;
        }
      }

      .circle-add-menu {
        .button-super {
          padding-right: 40px;
          margin-left: 2rem;
        }
      }
      
      h2, h3, h4 {
        padding: 1rem 0 0.5rem 1.5rem;
        text-transform: uppercase;
        font-size: 12px;
        a {
          font-size: 9px;
        }
      }

      .sidebar-item {
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(space-between);

        font-size: 16px;
        padding: 4px 15px;

        .text {
          padding-left: 1.5rem;
          @include flex(1 0 0);
          &:hover {
           text-decoration: underline;
          }

          .after-icon {
            padding-left: 0.5rem;
            opacity: 0.4;
            font-size: 14px;
          }
        }

        .badge {
          @include flex(0 0 1);
          font-size: 1rem;
        }
      }

      .bottom {
        @include flex(1);
        padding: 3rem 2rem;

        @include display(flex);
        @include flex-direction(column);
        @include align-items(stretch);
        @include justify-content(flex-end);

        .logo {
          display: inline-block;
          @include lale-logo(contain, $nav-bg);
          width: 2rem;
          height: 2rem;
          margin: -0.5rem 0.5em;
        }
      }
    }

    section {
      @include flex(1);
      padding: 2rem;
    }
  }
}
