h2= "#{current_working_group.name} Dashboard"

h3 Tasks
= render partial: 'circle/tasks/task_list', locals: { circle: current_circle, working_group: current_working_group, tasks: current_working_group.tasks.not_completed }