@mixin circle-icon($size:30px, $font-size:1.5rem) {
  width: $size;
  height: $size;
  border: thin solid $border-color;
  border-radius: 50%;

  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  font-size: $font-size;
}


.user-icon {
  @include circle-icon();
  border-color: $blue-dark-1;
  color: $blue-dark-2;

  &.user-needed {
    @include lale-icon($lale-icon-user);
    border: none;
    background-color: $light-grey;
    color: $grey;
  }
}

.user-icon:hover + .user-preview, .user-icon + .user-preview:hover{
  @include display(flex);
}

.user-icon + .user-preview {
  display: none;

  @include align-items(center);
  @include justify-content(space-between);

  position: absolute;
  transform: translate(-125px);

  background: $white;
  border: 1px solid $blue-light-1;
  padding: 10px;
  min-width: 300px;
  z-index: 1000;

  text-align: left;

  .user-icon {
    @include circle-icon(50px, 2.5rem);
    border-color: $blue-dark-1;
  }

  .user-details {
    margin-right: 20px;
  }

  .user-name {
    font-size: 2rem;
    color: $blue;
  }

  .user-name:hover {
    border-bottom: 1px solid $blue;
  }

  .email {
    font-size: 1.8rem;
    color: $blue-dark-1;
  }

  .mobile_phone, .home_phone {
    color: $blue-dark-2;
    font-size: 1.5rem;
  }

  .mobile_phone {
    margin-top: 15px;
  }
}

.user-avatar {
  pointer-events: none;
}

.volunteer-icon {
  @include circle-icon();
  @include lale-icon($lale-icon-plus-skinny);

  color: $white;
  background-color: $orange;
  border: none;
}

.member-header {
  .user-icon {
    width: 50px;
    height: 50px;
    font-size: 2.5rem;
  }
}
