.user-avatar {
  pointer-events: none;
}

.lale-bot-avatar {
  @include lale-logo-grey-bg(contain, #FFFFFF);
  width: 3rem;
  height: 3rem;
}

.volunteer-icon {
  @include circle-icon();
  @include lale-icon($lale-icon-plus-skinny);

  color: $white;
  background-color: $orange;
  border: none;
}

.member-header {
  .user-icon {
    width: 50px;
    height: 50px;
    font-size: 2.5rem;
  }
}
