body.internal .project-page {

  .header {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(top);

    .left {
      @include flex(1 1);
      padding-right: 3rem;
      .title {
        font-size: 3em;
      }

      .description {
        color: darken($blue-light-1, 20%);
        font-size: 1.6rem;
      }
    }

  }

  .tab-nav {
    margin-top: 1px; // align with buttons
  }

  .tab-nav > a {
    cursor: pointer;
  }

  .tab.info {
    margin-top: 2rem;
  }

  .project-details {
    @include display(flex);
    @include flex-direction(row);
    @include align-items(top);
    @include justify-content(space-between);
    @include flex-wrap(wrap);

    main {
      margin-top: 3rem;
      @include flex(11 1);

      .button {
        margin-top: 2rem;
      }
    }

    aside {
      margin-top: 3rem;
      margin-left: 3rem;
      @include flex(1 0 20rem);

      .actions {
        form {
          margin: 0;
          padding: 0.5rem;

          &:first-child {
            padding-top: 0;
          }
        }

        .button, .button-primary {
          width: 100%;
        }
      }
    }

  }

}