.project-dashboard {

  .header {

    .title {
      i {
        @include lale-icon($lale-icon-document, 1.25em);
      }
    }

    .dropdown {
      $label-height: 31px;
      z-index: 99;

      label {
        height: $label-height;
      }

      .menu {
        top: $label-height + 4px;
        left: 10px;
        right: auto;
        min-width: auto;
        width: 260px;
      }
    }

  }
}