.project-dashboard {

  .header {

    .left {

      .calendar-leaf {
        margin: 1.25em;
        float: left;
        .project-icon i {
          display: inline-block;
          @include lale-icon($lale-icon-checklist, 3.5em);
          margin: 0.5rem;
        }
      }

      .title {
        font-size: 2.5em;
        @include border-top-radius($border-radius);
        padding: 1rem 2rem 1rem 9rem;
        margin-bottom: 0;
      }
      .description {
        @include border-bottom-radius($border-radius);
        min-height: 8rem;
        padding: 2rem;
        padding-left: 9rem;
      }

    }

    .right {
      text-align: center;
      .secondary-buttons {
        margin-top: 2rem;
        padding: 2rem;
        padding-top: 1rem;
        border: 1px solid $blue-light-1;
        @include border-top-radius(1.5rem);
        @include border-bottom-radius(1.5rem);
      }
      .button-secondary {
        margin: 0;
        margin-top: 1rem;
      }
    }
    .dropdown {
      $label-height: 33px;
      z-index: 99;

      label {
        height: $label-height;
      }

      .menu {
        top: $label-height + 2px;
        left: 10px;
        right: auto;
        min-width: auto;
        width: 260px;
      }
    }

  }

  .item-details-table {
    li.warning {
      color: $red-500;
    }
    margin-bottom: 2rem;
  }

  .rich-table {
    padding-top: 0;
  }
}
