.project-dashboard {

  .header {

    .left {

      .calendar-leaf {
        margin: 1.25em;
        float: left;
        .project-icon i {
          display: inline-block;
          @include lale-icon($lale-icon-checklist, 3.5em);
          margin: 0.5rem;
        }
      }

      .title {
        font-size: 2.5em;
        @include border-top-radius($border-radius);
        padding: 1rem 2rem 1rem 9rem;
        margin-bottom: 0;
      }
      .description {
        @include border-bottom-radius($border-radius);
        min-height: 8rem;
        font-size: 1.5em;
        padding: 2rem 2rem 2rem 9rem;
      }

    }

    .dropdown {
      $label-height: 31px;
      z-index: 99;

      label {
        height: $label-height;
      }

      .menu {
        top: $label-height + 4px;
        left: 10px;
        right: auto;
        min-width: auto;
        width: 260px;
      }
    }

  }

  .item-details-table {
    li.warning {
      color: $red-500;
    }
  }

}