.modal-find-helpers {

  // hide border overlap with h2
  border-radius: 2rem 2rem 1.5rem 1.5rem;
  padding: 0;
  text-align: left;
  width: 500px;

  .modal-header {
    
    h2 {
      border-radius: 1.5rem 1.5rem 0 0;
      width: 100%;
      background-color: $header-bg;
      padding: 7px 10px;
      color: $header-text;
      font-weight: normal;
    }    
    .remodal-close {
      // need to overwrite default style
      left: auto;
      top: 1px;
      right: 0px;
      &:hover {
        color: $header-text;
      }
    }
  }

  .modal-content {
    padding: 35px;
  }

  form {
    width: auto;
  }

  h3 {
    padding-bottom: 3px;
    margin: 30px 0 15px 0;
    border-bottom: 1px solid $grey;

    &.first {
      margin-top: 0;
    }
  }

  .button {
    margin-top: 10px;
  }

  #new_volunteer_id {
    width: 100%;
  }

  input[type=radio] {
    margin: 4px;
    margin-left: 0;

    &[disabled] + label {
      color: $grey;
      cursor: not-allowed;
    }
  }

}