$border-radius: 1.5rem;

section > .task {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(top);
  @include flex-wrap(wrap);

  main {
    max-width: 650px;
    @include flex(3 0 50rem);
    margin-bottom: 3rem;

    .task-header {
      margin-bottom: 2rem;

      .date {
        $radius: 0.75rem;
        position: relative;
        float: left;
        text-align: center;
        font-size: 1.75rem;
        @include transform(translate(1.5rem, 1.5rem));

        .month {
          background: $blue-darkish;
          color: $white;
          padding: 0.5rem 1rem;
          @include border-top-radius($radius);
        }

        .day {
          background: $blue-50;
          color: $blue-darkish;
          display: block;
          padding: 0.25rem 1rem;
          @include border-bottom-radius($radius);
          font-size: 2rem;
          border: thin solid $blue-darkish;
          border-top: 0;
          .day_number {
            display: block;
            font-weight: 700;
          }
          .day-of-week {
            font-size: 1.25rem;
          }
        }
      }

      .title {
        background: $blue-500;
        color: $blue-50;
        font-size: 2.5em;
        @include border-top-radius($border-radius);
        padding: 1rem 2rem 1rem 9rem;
      }
      .description {
        background: $blue-50;
        color: $blue-500;
        @include border-bottom-radius($border-radius);
        min-height: 8rem;
        font-size: 1.5em;
        padding: 2rem 2rem 2rem 9rem;
      }
    }

    .item-details-table {
      margin-bottom: 2rem;
    }

    .new-comment {
      .field-row {
        margin-top: 0;
      }
      margin-bottom: 2rem;
    }

  }

  aside {
    margin-left: 3rem;
    @include flex(0 0 30rem);

    .dropdown {
      $label-height: 31px;
      z-index: 99;

      label {
        height: $label-height;
      }

      .menu {
        top: $label-height + 4px;
        left: 10px;
        right: auto;
        min-width: auto;
        width: 280px;
      }
    }

    .actions {
      margin-bottom: 1.5rem;

      .button, .button-primary {
        width: 100%;
        margin: 0.5rem 0;
      }
    }
  }
}