.taskable-urgency-new {
  .date, .task-date {

    .month {
      background: $blue-darkish;
      color: $white;
    }

    .day {
      background: $blue-50;
      color: $blue-darkish;
      border: thin solid $blue-darkish;
    }
  }

  .icon i {
    background-color: $blue-500;
  }

  .title {
    background: $blue-500;
    color: $blue-50;
  }

  // &.left is required to apply the styling to project headers, as well
  .description, &.left .description {
    background: $blue-50;
    color: $blue-500;
  }

}

.taskable-urgency-complete {
  .date, .task-date {
     .month {
       background-color: $green;
     }

     .day {
       background-color: $green-100;
       border-color: $green-500;
       color: $green;
     }
  }

  .icon i {
    background-color: $green-500;
  }

  .done {
    color: $green;
  }

  .title {
    background-color: $green-500;
    color: $green-50;
  }

  // &.left is required to apply the styling to project headers, as well
  .description, &.left .description {
    background-color: $green-50;
    color: $green-500;
  }
}

.taskable-urgency-urgent {
  .date, .task-date {
    .month {
      background-color: $red;
      color: $blue-light-1;
    }

    .day {
      background-color: $red-100;
      border-color: $red;
      color: $red;
    }

  }

  .icon i {
    background-color: $red-100;
  }

  .title {
    background-color: $red-100;
    color: $red;
  }

  // &.left is required to apply the styling to project headers, as well
  .description, &.left .description {
    background-color: $red-50;
    color: $blue-dark-1;
  }
}

.taskable-urgency-on_track {
  .date, .task-date {
    .month {
      background-color: $blue-dark-1;
      color: $blue-light-1;
    }

    .day {
      background-color: $blue-light-1;
      border-color: $blue-dark-1;
      color: $blue-dark-1;
    }

  }

  .icon i {
    background-color: $blue-light-1;
  }

  .title {
    background-color: $blue-light-1;
    color: $blue-dark-2;
  }

  // &.left is required to apply the styling to project headers, as well
  .description, &.left .description {
    background-color: $blue-light-2;
    color: $blue-dark-1;
  }
}