$border-radius: 1.5rem;

section > .task {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(top);
  @include flex-wrap(wrap);

  main {
    max-width: 650px;
    @include flex(3 0 50rem);
    margin-bottom: 3rem;

    .task-header {
      margin-bottom: 2rem;

      .date {
        $radius: 0.75rem;
        position: relative;
        float: left;
        text-align: center;
        font-size: 1.75rem;
        @include transform(translate(1.5rem, 1.5rem));

        .month {
          background: $blue-darkish;
          color: $white;
          padding: 0.5rem 1rem;
          @include border-top-radius($radius);
        }

        .day {
          background: $blue-50;
          color: $blue-darkish;
          display: block;
          padding: 0.5rem 1rem;
          @include border-bottom-radius($radius);
          font-size: 3rem;
          border: thin solid $blue-darkish;
          border-top: 0;
          .day_number {
            display: block;
            font-weight: 700;
          }
          .day-of-week {
            font-size: 1.25rem;
          }
        }


      }

      .title {
        background: $blue-500;
        color: $blue-50;
        font-size: 2.5em;
        @include border-top-radius($border-radius);
        padding: 1rem 2rem 1rem 9rem;
      }
      .description {
        background: $blue-50;
        color: $blue-500;
        @include border-bottom-radius($border-radius);
        min-height: 8rem;
        font-size: 1.5em;
        padding: 2rem 2rem 2rem 9rem;
      }
    }

  }

  aside {
    margin-left: 3rem;
    @include flex(0 0 30rem);

    .volunteers{
      @include border-top-radius($border-radius);
      @include border-bottom-radius($border-radius);
      border: thin solid $border-color;
      margin-bottom: 3rem;

      > * {
        border-top: thin solid $border-color;
        padding: 1.5rem 1rem;

        &:first-child {
          border: none;
        }
      }

      .title {
        @include lale-icon(" ");
        background: $blue-light-2;
        @include border-top-radius($border-radius);
      }

      .icons {
        @include display(flex);
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(flex-start);

        > * {
          margin: 0.25rem;
        }

        .task-action-button .user-icon:hover {
          background: $red-100;
          .text {
            content: " ";
          }
        }
      }
    }

    .actions {
      form {
        margin: 0;
        padding: 0.5rem;
      }

      .button, .button-primary {
        width: 100%;
      }
    }
  }
}

section > .task.urgency--complete {
  .task-header {
    .date {
       .month {
         background-color: $green;
       }

       .day {
         background-color: $green-100;
         border-color: $green-500;
         color: $green;
       }

    }
    .done {
      color: $green;
    }

    .title {
      background-color: $green-500;
      color: $green-50;
    }

    .description {
      background-color: $green-50;
      color: $green-500;
    }
  }
}

section > .task.urgency--urgent {
  .task-header {
    .date {
      .month {
        background-color: $red;
        color: $blue-light-1;
      }

      .day {
        background-color: $red-100;
        border-color: $red;
        color: $red;
      }

    }
    .title {
      background-color: $red-100;
      color: $red;
    }

    .description {
      background-color: $red-50;
      color: $blue-dark-1;
    }
  }
}

section > .task.urgency--on_track {
  .task-header {
    .date {
      .month {
        background-color: $blue-dark-1;
        color: $blue-light-1;
      }

      .day {
        background-color: $blue-light-1;
        border-color: $blue-dark-1;
        color: $blue-dark-1;
      }

    }
    .title {
      background-color: $blue-light-1;
      color: $blue-dark-2;
    }

    .description {
      background-color: $blue-light-2;
      color: $blue-dark-1;
    }
  }
}
