.task-list {
  padding-top: 1rem;
  padding-bottom: 5rem;

  .task {
    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: 0px;
      left: 85px;
      bottom: 0;
      border-bottom: thin solid $light-grey;
    }
  }

  .task-icon {
    height: 10px;
    @include flex(0 0 10px);
    border: thin solid $light-grey;
    border-radius: 50%;
  }

  .task-title {
    font-size: 1.5rem;
  }

  .task-details {
    @include flex(1);
    padding: 1rem 0 0 0;

    @include display(flex);
    @include flex-direction(row);
    @include align-items(top);
    @include justify-content(space-between);

    .project-icon i {
      display: inline-block;
      @include lale-icon($lale-icon-checklist, 3.5em);
      margin-bottom: 1rem;
    }
  }

  .task-content {
    @include flex(1 1 0);
    padding: 1rem 2rem 1rem 2rem;
    -ms-flex: 1;
  }

  .task-stats {
    margin: auto 0;
  }

  .task-date {
    $radius: 0.75rem;
    text-align: center;
    font-size: 1.25rem;
    width: 50px;
    margin-bottom: 1rem;

    .month {
      background: $blue-darkish;
      color: $white;
      padding: 0.5rem;
      @include border-top-radius($radius);
    }

    .day {
      background: $blue-50;
      color: $blue-darkish;
      display: block;
      padding: 0.3rem;
      @include border-bottom-radius($radius);
      font-size: 1.5rem;
      border: thin solid $blue-darkish;
      border-top: 0;
      .day_number {
        font-size: 1.5rem;
        display: block;
        font-weight: 700;
      }
      .day-of-week {
        font-size: 1rem;
      }
    }
  }

}
