form.button_to {
  margin: 0;
  padding: 0;
  display: inline-block;

  outline: none;

  button {
    outline: none;
  }

  .task-action-button {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background: none;

    &:hover{
      cursor: pointer;
    }
  }
}