title Lale.help

= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': true)
= stylesheet_link_tag("https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css")

= javascript_include_tag('application', 'data-turbolinks-track': true)
= javascript_include_tag("https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")

= favicon_link_tag('/favicon.ico')
= csrf_meta_tags
