title Lale.help

meta name="viewport" content="width=device-width, initial-scale=1"

= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': true)
= javascript_include_tag('application', 'data-turbolinks-track': true)

= favicon_link_tag('/favicon.ico')
/ for apple
= link rel="apple-touch-icon" href="/apple-touch-icon.png"
/ for android
= link rel="shortcut icon" href="apple-touch-icon.png"

= csrf_meta_tags
