body.internal .circle-dashboard{
  .header {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);

    .left {
      @include flex(1 1);
      .title {
        font-size: 2em;
      }
      .description {
        color: darken($blue-light-1, 20%);
        font-size: 1.6rem;
      }
    }
  }

  footer {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(flex-end);
    .hint {
      padding-right: 1rem;
    }
  }
  .details {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);

    main{
      @include flex(10 1);
      min-width: 500px;
    }


    aside {
      @include flex(1 0 20rem);
    }
  }

//  .members {
//    $radius: 10px;
//    border: thin solid $border-color;
//    margin: 2rem;
//
//    @include border-bottom-radius($radius);
//    @include border-top-radius($radius);
//
//    > * {
//      padding: 1rem;
//    }
//
//    > *:not(:first-child) {
//      border-top: thin solid $border-color;
//    }
//
//    .icons {
//      @include display(flex);
//      @include flex-direction(row);
//      @include align-items(top);
//      @include flex-wrap(wrap);
//
//      > * {
//        margin-right: 1rem;
//        margin-bottom: 1rem;
//      }
//    }
//  }
}
