table {
  tr.action-row {
    td {
      text-align: center;
      opacity: 0.5;
      border-bottom: none;
    }
  }
}

.actions {
  a {
    color: $blue-dark-1;
    &:visited {
      color: $blue-dark-1;
    }
  }
  a.edit {
    @include lale-icon($lale-icon-pencil);
  }

  a.delete {
    @include lale-icon($lale-icon-delete);
  }

}

.admin-nav {
  border-top: thin solid $blue-dark-1;
  border-bottom: thin solid $blue-dark-1;
  text-align: center;

  a {
    display: inline-block;
    padding: 1rem 2rem;
  }


  a.selected {
    font-weight: bold;
    background: $blue-light-2;
    border-bottom: thick solid $orange;
  }
}

.invite-link {
  background: $blue-light-1;
  border:     thin solid $blue-dark-1;
  padding: 1rem;
  margin-top: 2rem;
  display: inline-block;
  @include border-top-radius(10px);
  @include border-bottom-radius(10px);
}