table {
  tr.action-row {
    td {
      text-align: center;
      opacity: 0.5;
      border-bottom: none;
    }
  }
}

.actions {
  a {
    color: $blue-dark-1;
    &:visited {
      color: $blue-dark-1;
    }
  }
  a.edit {
    @include lale-icon($lale-icon-pencil);
  }

  a.delete {
    @include lale-icon($lale-icon-delete);
  }

}

section.circle-admin {

  margin: 0;
  padding: 0;

  h2 {
    padding: 0;
    margin: 1em 0;
  }

  p {
    margin: 2em 0;
  }

  .invite-link {
    max-width: 50rem;
  }

  .wg-table {
    margin-bottom: 0;
    .actions {
      width: 20%;
    }
  }
}
