---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "San Francisco",
                       "short_name" : "SF",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "San Francisco County",
                       "short_name" : "San Francisco County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "San Francisco, CA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 37.9297707,
                          "lng" : -122.3279149
                       },
                       "southwest" : {
                          "lat" : 37.6931289,
                          "lng" : -123.166067
                       }
                    },
                    "location" : {
                       "lat" : 37.7749295,
                       "lng" : -122.4194155
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.812,
                          "lng" : -122.3482
                       },
                       "southwest" : {
                          "lat" : 37.70339999999999,
                          "lng" : -122.527
                       }
                    }
                 },
                 "place_id" : "ChIJIQBpAG2ahYAR_6128GcTUEo",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 27 Oct 2015 16:17:59 GMT
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=37.7749295&lng=-122.4194155&username=lale
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sunrise":"2016-01-11 07:25","lng":-122.4194155,"countryCode":"US","gmtOffset":-8,"rawOffset":-8,"sunset":"2016-01-11
        17:10","timezoneId":"America/Los_Angeles","dstOffset":-7,"countryName":"United
        States","time":"2016-01-10 20:32","lat":37.7749295}'
  recorded_at: Mon, 11 Jan 2016 04:32:44 GMT
recorded_with: VCR 2.9.3
