- content_for :header_middle do
  = render partial: 'sidebar/circle_add_menu', locals: { circle: current_circle }

h2= t('.header')

= render partial: 'task_list', locals: { circle: current_circle, working_group: nil, tasks: @tasks.open, title: t('.volunteer-header')}

= render partial: 'task_list', locals: { circle: current_circle, working_group: nil, tasks: @tasks.open_org, title: t('.organizer-header')}
