.task-comments {

  &:before {

  }

  margin-top: 20px;
  .field-row {
    margin-bottom: 10px;
  }

  textarea {
    border-color: $grey
  }

  .submit-row {
    margin-top: 0px;
    overflow: hidden;
  }
  .comment {
    @extend .clearfix;
    .commenter {
      opacity: 0.0;
      @include transition(opacity, ease-in-out, 0.3s);
    }
    &:hover {
      .commenter {
        opacity: 1.0;
      }
    }


    margin: 10px;
    &.left {
      .user-avatar {
        float: left;
      }
      .comment-main {
        float: left;
        .body {
          background: $blue-light-1;
          &::before {
            border-color: $blue-light-1 transparent transparent transparent;
            left: -10px;
          }
        }
      }
    }

    &.right {
      .user-avatar {
        float: right;
      }
      .comment-main {
        float: right;
        .body {
           &::before {
            border-color: $light-grey transparent transparent transparent;
            right: -10px;
          }
        }
      }
    }
    &.lale-bot {
      .comment-main {
        .body {
          background: $white;
          border: 1px dashed $grey;
          &::before {
            display: none;
          }
        }
      }
    }


    .user-avatar {
      vertical-align:top;
      display: inline-block;
    }
    .comment-main {
      position: relative;
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      width: 60%;
      .body {
        color: $black;
        border-radius: 6px;
        padding: 10px;
        background: $light-grey;
        width: 100%;
        &::before {
          position: absolute;
          content: '';
          top: 0;
   
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 10px 0 10px;
          border-color: $light-grey transparent transparent transparent;
        }
        .comment-text {
          &.inactive {
            display: none;
          }
        }
        .edit-comment {
          &.inactive {
            display: none;
          }
          textarea.error {
            border-color: $red-500;
            border-width: 2px;
          }
          input[type="submit"] {
            line-height: 0.7;
            padding: .5rem 2rem;
          }
          .cancel_edit_comment {
            display: inline-block;
            padding-top: 5px;
          }
        }
      }
      .commenter {
        .name, .time, .actions {
          display: inline-block;
        }
        .time {
          float: right;
        }
        .actions {
          margin-top: 0;
          a {
            margin-left: 0.5em;
          }
          a:hover {
            text-decoration: underline;
          }
          &.inactive {
            display: none;
          }
        }
      }
    }
  }
  .show_all_comments {
    text-align: center;
  }
}
