.add-new-task {
  @extend .button--large;
  margin  : 0;
  display : block;
}

.show-tasks {
  background-color : $white;
  display          : flex;
  justify-content  : space-between;
  margin           : 3.5rem 0;
  box-shadow       : 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
  border-radius    : 3px;
  padding          : 0 2rem;
  span {
    line-height : 4;
  }
  .checkbox-slider {
    label {
      line-height : 6.4rem;
    }
  }
}

.filter-working-groups {
  background    : $white;
  box-shadow    : 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
  border-radius : 3px;
  padding       : 2.5rem 2rem;
  h4 {
    color : $grey;
  }
  .working-groups {
    li {
      margin         : 3rem 0;
      padding-left   : 4rem;
      font-size      : 1.8rem;
      text-transform : uppercase;
      font-weight    : 500;
      user-select : none;
      cursor : pointer;
    }
  }
}

.working-group {
  box-shadow    : 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
  border-radius : 3px;
  margin-bottom : 3rem;
  padding       : 1rem;

  .working-title-container {
    color  : $white;
    margin : 1.5rem 0 2.5rem;
    .working-title {
      font-weight    : bold;
      margin-right   : 1.5rem;
      text-transform : uppercase;
    }
    .task-count {
      font-weight : 200;
    }
  }
  .working-tasks {
    background    : $white;
    box-shadow    : 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
    border-radius : 2px;

    li {
      box-shadow      : inset 0px -1px 0px 0px rgba(0, 0, 0, 0.10);
      display         : flex;
      padding         : 0 2rem;
      justify-content : space-between;
      line-height     : 4.125;
      .task-name {
        flex        : 2 1 35rem;
        font-weight : 500;
      }
      .task-time,
      .task-status {
        flex : 1 1 17rem;
      }
    }
    .toggle-show-completed {
      line-height : 3.125;
      background-color : rgba( $green, .1 );
      font-size : 1.3rem;
      color : $green;
      font-weight : 600;
      text-transform : uppercase;
    }

    &.completed {

    }
  }

  &.education {
    background-color : $green;
  }
  &.find-jobs {
    background-color : $blue;
  }
}
