.members_list

  .showing= t('circle.members.index.total_members', total: @total_members, showing: @members.length)

  h2 = t('.public_members')

  = render partial: 'list', locals: { members: @members }
