- content_for :header_middle do
  = render partial: 'sidebar/circle_add_menu', locals: { circle: current_circle }

h2= t('.header')

= render partial: 'supply_list', locals: { circle: current_circle, working_group: nil, supplies: @supplies}
