//
// Icon Font: <%= font_name %>
//

@mixin lale-icon($icon, $size: 1em) {
  &:before{
    font-family: 'lale';
    font-weight: normal;
    font-style: normal;
    font-size: $size;
    display: inline-block;
    text-decoration: inherit;
    line-height: 1;
    content: $icon;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon {
  @include lale-icon(' ');
}


<%= glyphs %>
<% @glyphs.each do |name, value| %>
$lale-icon-<%= name.to_s %>: "\<%= value[:codepoint].to_s(16) %>";<% end %>
