.task-details-container {
  display        : none;
  padding-bottom : 2rem;
  height         : 0;
  overflow       : hidden;

  & > div {
    flex : 1 1 50%;
    &:first-child {
      margin-right : 3rem;
    }
  }
}

.task-comment-container {
  @include clearfix;
}

.task-comment {
  padding          : 2rem;
  background-color : $green-100;
  border-radius    : 1rem;
  .is-author & {
    background-color : $white;
    border           : 1px solid $green-100;
  }
}

.task-author {
  padding       : 1rem 1rem 1rem 2rem;
  margin-bottom : 1rem;
  &:after {
    content : '';
    @include triangle(1.2rem, $green-100, up-left);
  }
  .is-author & {
    display    : inline-block;
    float      : right;
    padding    : 1rem 0;
    position   : relative;
    text-align : right;
    &:before,
    &:after {
      content  : '';
      position : absolute;
      left     : 0;
      top      : 0;
    }
    &:before {
      transform : translateX(-2rem);
      @include triangle(1.2rem, $green-100, up-right);
    }
    &:after {
      @include triangle(1rem, $white, up-right);
      border-right : none;
      transform    : translateX(-1.95rem) translateY(-1px);
    }
  }
}

.task-comment-reply {
  @include button(medium, $green-500);
}

.task-comment-form {
  input {
    width   : 100%;
    padding : 2rem;
  }
}

.task-comment-post {
  @include button(medium, $green-500);
  margin : 1rem 0 0 2rem;
}

button.complete-task {
  border: 0;
  padding-bottom: .5rem;
}
.complete-task {
  &:not(.can-complete){
    @include button(medium, $light-grey, true);
  }
  &.can-complete {
    @include button(medium, $blue-500);
  }
}
.task-completed {
  @include button(medium, $green-100);
}

.task-expanded {
  .task-details-container {
    display : flex;
    height  : auto;
  }
}
