.helpers-list {
  display       : flex;
  background    : $offwhite;
  border-radius : 1rem 0 0 1rem;
  padding       : 1rem 1rem 0;
  margin-bottom : 2rem;
  flex-wrap     : wrap;

  button.helper {
    border: 0;
    padding-bottom: .5rem;
  }

  .helper {
    background    : $white;
    border-radius : 3px;
    margin        : 0 1rem 1rem 0;
    padding       : .3rem 1rem;
    position      : relative;

    &.can-delete {
      padding-right : 4rem;
      @extend .fi-plus;
      &:before {
        position  : absolute;
        transform : rotateZ(45deg);
        right     : .7rem;
        top       : .7rem;
      }
      &:after {
        border-left : 1px solid $offwhite;
        cursor      : pointer;
        content     : '';
        height      : 3rem;
        line-height : 3rem;
        position    : absolute;
        right       : 0;
        text-align  : center;
        top         : 0;
        width       : 3rem;

      }
    }


    &.can-help {
      @extend .fi-plus;
      background   : $blue-500;
      color        : $white;
      cursor       : pointer;
      padding-left : 4rem;
      text-decoration: none;
      &:before {
        position : absolute;
        left     : .7rem;
        top      : .7rem;
      }
      &:after {
        border-left : 1px solid $white;
        cursor      : pointer;
        content     : '';
        height      : 3rem;
        line-height : 3rem;
        position    : absolute;
        left        : 3rem;
        text-align  : center;
        top         : 0;
        width       : 3rem;
      }
    }
  }

  .completed & {
    @include clearfix;
    border-radius : 1rem;
    background    : $green-100;
    display       : inline-block;
    .helper {
      float : left;
    }
  }
}
