.working-group {
  box-shadow    : 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
  border-radius : 3px;
  margin-bottom : 3rem;
  padding       : 1rem;

  &.education {
    background-color : $green-500;

    .working-task.completed {
      background-color : $green-50;
    }
    .toggle-show-completed {
      background-color : $green-50;
      color            : $green-500;
    }
  }

  &.find-jobs {
    background-color : $blue-500;

    .working-task.completed {
      background-color : $blue-50;
    }
    .toggle-show-completed {
      background-color : $blue-50;
      color            : $blue-500;

    }
  }

  &.working-group-closed {
    & > .working-tasks {
      height   : 0;
      overflow : hidden;
    }
  }
}
.working-title-container {
  color      : $white;
  margin     : 1rem 0;

  .working-group-open & {
    @extend .working-group-arrow-base;
    @extend .fi-chevron-bottom;
  }
  .working-group-closed & {
    margin : 1rem 0 0;
    @extend .working-group-arrow-base;
    @extend .fi-chevron-top;
  }
  .working-title {
    font-weight    : $weight-bold;
    margin-right   : 1.5rem;
    text-transform : uppercase;
  }
  .task-count {
    opacity : .5;
  }
}


.working-group-arrow-base {
  position : relative;
  &:before {
    color     : $white;
    cursor    : pointer;
    right     : 0;
    position  : absolute;
    top       : 0;
    transform : translateX(-1rem);
  }
}
