body.public {

  @include display(flex);
  @include flex-direction(column);
  @include align-items(stretch);

  header {
    $header-height: 8rem;

    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding: 2rem 2rem 0 2rem;
    @include display(flex);
    @include flex-direction(row);
    @include align-items(stretch);
    @include justify-content(space-between);

    @include flex(0 0 $header-height);

    .logo {
      display: inline-block;
      @include lale-logo-text(contain, #FFFFFF);
      width: 180px;
      height: 80px;
      margin: -2rem 0 0 -2rem;
    }

    .actions {
      *{
        display: inline-block;
        margin-left: 1rem;
      }
    }
  }

  section {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
  }

  section.wide {
    max-width: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}