$header-height : 50px;

header {
  height: $header-height;
  width: 100%;



  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);

  .header-left {
    @include flex(0 0 25rem);
    padding-left: 1.5rem;
    font-size: 2rem;

    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);

    .circle-name {
      @include flex(1);

    }

    .circle-add-menu {
      @include flex(0 0 4rem);
      height: 100%;
      font-size: 2rem;

      &:hover {
        cursor: pointer;
      }

      @include display(flex);
      @include align-items(center);
      @include justify-content(center);

      .icon {
        @include lale-icon($lale-icon-plus-skinny);
        border-radius: 50%;
        background-color: $orange;
        padding: 4px;

        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
      }

      &.open {
        .menu {
          display: block;
          border: thin solid $light-grey;
          border-top: 0;
          z-index: 1000;
          -webkit-box-shadow: 3px 3px 3px -3px rgba(0,0,0,0.1), -3px 3px 3px -3px rgba(0,0,0,0.1);
          -moz-box-shadow:    3px 3px 3px -3px rgba(0,0,0,0.1), -3px 3px 3px -3px rgba(0,0,0,0.1);
          box-shadow:         3px 3px 3px -3px rgba(0,0,0,0.1), -3px 3px 3px -3px rgba(0,0,0,0.1);
        }
      }


      .menu{
        font-size: 1.5rem;
        display: none;
        transform: translate( -34px, $header-height);
        position: absolute;
        min-width:  20rem;
        padding: 1rem;

        a {
          display: block;
          width: 100%;
          padding: .5rem 1rem;
        }
      }
    }

  }

  .header-middle {
    @include flex(1);

    a.back {
      margin-left: 1rem;

      @include lale-icon($lale-icon-arrow-left);
      @include display(flex);
      @include flex-direction(row);
      @include align-items(center);

      &:before {
        font-size:    2.25rem;
        margin-right: 0.5em;
      }
    }

  }

  .header-right {
    @include flex(1);

    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(flex-end);
    > * {
      margin-right: 2rem;
    }
    padding-right: 1rem;
  }

  .back {
    font-size: 2rem;
  }

  .user-inbox{
    font-size: 2rem;
    @include lale-icon($lale-icon-inbox);
  }
}
