$header-height : 5rem;

header {
  height: $header-height;
  width: 100%;

  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);

  .header-left {
    @include flex(0 0 28rem);
    padding-left: 1.5rem;
    font-size: 2rem;

    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);

    .circle-name {
      @include flex(1);

    }

    .circle-add-menu {
      @include flex(0 0 5rem);
      height: 100%;
      font-size: 2rem;

      .icon {
        @include lale-icon($lale-icon-plus-skinny);
        border-radius: 50%;
        background-color: $orange;
        padding: 4px;

        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
      }
    }

  }

  .header-middle {
    @include flex(1);

    a.back {
      margin-left: 1rem;

      @include lale-icon($lale-icon-arrow-left);
      @include display(flex);
      @include flex-direction(row);
      @include align-items(center);

      &:before {
        font-size:    2.25rem;
        margin-right: 0.5em;
      }
    }

  }

  .header-right {
    @include flex(1);

    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(flex-end);

    .user-menu {
      .user-name{
        margin-right: 2rem;
      }

      .user-avatar {
        .user-icon {
          background: $white;
          font-size: 1rem;
          height: 3rem;
          width: 3rem;
        }
      }
    }
  }

  .back {
    font-size: 2rem;
  }

//  .user-inbox{
//    font-size: 2rem;
//    @include lale-icon($lale-icon-inbox);
//    margin-right: 1rem;
//  }

  .dropdown {
    height: 100%;

    @include display(flex);
    @include align-items(center);
    @include justify-content(center);

    padding: 0 2rem 0 2rem;

    position: relative;


    &:hover {
      cursor: pointer;
    }

    &.open {
      .menu {
        display: block;
        border: thin solid $light-grey;
        border-top: 0;
        z-index: 1000;
        -webkit-box-shadow: 3px 3px 3px -3px rgba(0,0,0,0.1), -3px 3px 3px -3px rgba(0,0,0,0.1);
        -moz-box-shadow:    3px 3px 3px -3px rgba(0,0,0,0.1), -3px 3px 3px -3px rgba(0,0,0,0.1);
        box-shadow:         3px 3px 3px -3px rgba(0,0,0,0.1), -3px 3px 3px -3px rgba(0,0,0,0.1);
      }
    }

    .menu{
      font-size: 1.5rem;
      display: none;
      position: absolute;
      min-width:  100%;

      top: $header-height;

      a {
        display: block;
        width: 100%;
        padding: 1.5rem 2rem;
      }

      a:hover{
        background: rgba(0,0,0,0.05);
      }

      hr {
        border: 0;
        height: 1px;
        background: rgba(0,0,0,0.1);

      }
    }

    .menu.add-item-dropdown {
      left: 0;
    }

    .menu.user-dropdown {
      right: 0;
    }
  }
}
