ul,
ol {
  margin           : 0;
  padding          : 0;
  list-style-type  : none;
}

dl { margin-bottom : 1rem;}
dd { margin        : 0;}
dt { 
  font-weight      : $weight-bold;
  margin-top       : 1rem;
}
