.default-table {

  margin-bottom: 3rem;
  margin-top: 1rem;
  border-collapse : collapse;
  border-spacing  : 0;
  width           : 100%;
  min-width       : 1000px;

  th, td {
    border-bottom : 1px $border-color solid;
    padding: 0.75rem 0;
  }

  td {
    padding: 1.5rem 0;
    word-wrap:break-word;
  }

  tr, td, th {
    vertical-align: middle;
    text-align: left;
  }

  .actions {
    * {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin: 0 0.5rem;
    }

    .edit {
      @include lale-icon($lale-icon-pencil);
    }

    .delete {
      @include lale-icon($lale-icon-delete);
    }


  }
}