$sidebar-margin-bottom : 2rem;
.add-new-task {
  @include button(large, $deep-orange-500);
  margin  : 0 0 $sidebar-margin-bottom;
  display : block;
}

.add-new-work-group {
  @include button(large, $deep-orange-500);
  margin  : 0 0 $sidebar-margin-bottom;
  display : block;
}
.show-tasks {
  background-color : $white;
  display          : flex;
  justify-content  : space-between;
  margin           : 0 0 $sidebar-margin-bottom;
  box-shadow       : 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
  border-radius    : 3px;
  padding          : 0 2rem;
  span {
    line-height : 3.8;
  }
  .checkbox-slider {
    label {
      line-height : 6.4rem;
    }
  }
}

.filter-working-groups {
  background     : $white;
  box-shadow     : 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
  border-radius  : 3px;
  margin         : 0 0 3.5rem 0;
  padding-bottom : 2rem;
  h4 {
    color         : $grey;
    padding       : 2rem;
    border-bottom : 1px solid $offwhite;
  }
  .working-groups {
    margin : 0 2rem;
    li {
      @extend .fi-check;
      cursor         : pointer;
      font-weight    : 500;
      margin         : 2rem 0;
      padding-right  : 2rem;
      position       : relative;
      text-transform : uppercase;
      user-select    : none;
      &:last-child {
        margin-bottom : 0;
      }
      &:before {
        //  icon is in the @extend .fi-check above, this is just to style its position
        color     : $green;
        position  : absolute;
        right     : 0;
        top       : 0;
        transform : translateY(5px);
      }
      &.unselected {
        font-weight : normal;
        color       : $grey;
        &:before {
          content : none;
        }
      }
    }
  }
}
