.icon-base {
  // taken from .oi -> _open-iconic-bootstrap
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  &:empty:before {
    width: 1em;
    text-align: center;
    box-sizing: content-box;
  }

}

.icon-cheveron-bottom {
  position : relative;

}

