//
// Icon Font: lale
//

@mixin lale-icon($icon, $size: 1em) {
  &:before{
    font-family: 'lale';
    font-weight: normal;
    font-style: normal;
    font-size: $size;
    display: inline-block;
    text-decoration: inherit;
    line-height: 1;
    content: $icon;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon {
  @include lale-icon(' ');
}


.icon-archive:before { content: "\f10d"; }
.icon-arrow-left:before { content: "\f108"; }
.icon-calendar:before { content: "\f10b"; }
.icon-checklist:before { content: "\f11a"; }
.icon-circle:before { content: "\f113"; }
.icon-clock:before { content: "\f109"; }
.icon-comment:before { content: "\f112"; }
.icon-compass:before { content: "\f10c"; }
.icon-dashboard:before { content: "\f114"; }
.icon-delete:before { content: "\f111"; }
.icon-document:before { content: "\f115"; }
.icon-drawer:before { content: "\f101"; }
.icon-envelope-open:before { content: "\f10e"; }
.icon-heart:before { content: "\f116"; }
.icon-inbox:before { content: "\f102"; }
.icon-location-marker:before { content: "\f118"; }
.icon-missing:before { content: "\f106"; }
.icon-papers:before { content: "\f10f"; }
.icon-pencil:before { content: "\f110"; }
.icon-plus-skinny:before { content: "\f107"; }
.icon-supply:before { content: "\f119"; }
.icon-user:before { content: "\f105"; }

$lale-icon-archive: "\f10d";
$lale-icon-arrow-left: "\f108";
$lale-icon-calendar: "\f10b";
$lale-icon-checklist: "\f11a";
$lale-icon-circle: "\f113";
$lale-icon-clock: "\f109";
$lale-icon-comment: "\f112";
$lale-icon-compass: "\f10c";
$lale-icon-dashboard: "\f114";
$lale-icon-delete: "\f111";
$lale-icon-document: "\f115";
$lale-icon-drawer: "\f101";
$lale-icon-envelope-open: "\f10e";
$lale-icon-heart: "\f116";
$lale-icon-inbox: "\f102";
$lale-icon-location-marker: "\f118";
$lale-icon-missing: "\f106";
$lale-icon-papers: "\f10f";
$lale-icon-pencil: "\f110";
$lale-icon-plus-skinny: "\f107";
$lale-icon-supply: "\f119";
$lale-icon-user: "\f105";