//
// Icon Font: lale
//

@mixin lale-icon($icon) {
  &:before{
    font-family: 'lale';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    line-height: 1;
    content: $icon;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon {
  @include lale-icon(' ');
}


.icon-arrow-left:before { content: "\f108"; }
.icon-drawer:before { content: "\f101"; }
.icon-inbox:before { content: "\f102"; }
.icon-missing:before { content: "\f106"; }
.icon-plus-skinny:before { content: "\f107"; }
.icon-user:before { content: "\f105"; }

$lale-icon-arrow-left: "\f108";
$lale-icon-drawer: "\f101";
$lale-icon-inbox: "\f102";
$lale-icon-missing: "\f106";
$lale-icon-plus-skinny: "\f107";
$lale-icon-user: "\f105";