.badge {
  &:after {
    color          : $white;
    background     : $orange;
    border-radius  : 2.4rem;
    font-size      : 1.1rem;
    font-weight    : $weight-semibold;
    line-height    : 1.3rem;
    margin-left    : .5rem;
    padding        : .3rem .8rem;
    position       : relative;
    text-transform : uppercase;
    white-space    : nowrap;
  }
}
