%button-base {
  -webkit-font-smoothing : subpixel-antialiased;
  appearance             : none;
  color                  : $white;
  cursor                 : pointer;
  display                : inline-block;
  flex-shrink            : 0;
  font-size              : 1.6rem;
  font-weight            : 400;
  line-height            : 1;
  margin                 : 0 1rem 0 0;
  text-align             : center;
  text-decoration        : none;
  user-select            : none;
  vertical-align         : middle;
  white-space            : nowrap;
  // transition             : opacity .5s;
  &:focus {
    outline : none;
  }
}

.button--large {
  @extend %button-base;
  background    : $orange;
  box-shadow    : 0px 2px 10px 0px rgba(0, 0, 0, 0.10), inset 0px -3px 0px 0px rgba(0, 0, 0, 0.10);
  border-radius : 3px;
  font-weight   : 600;
  font-size     : 1.8rem;
  color         : $white;
  line-height   : 3;
  text-shadow   : 0px 1px 0px $orange-dark;
  text-align    : center;
}

%normal-hover {
  &:hover, &:active {
    color      : $white;  //Just in case it's a link
    opacity    : .85;
    cursor     : pointer;
  }
}

%disabled-hover {
  &:hover, &:active {
    opacity    : 1;
  }
}

/*doc
---
title: Buttons
name: Buttons
category: Forms
---
The primary button is green, but button colors can be assigned on the fly.
All flavors are available in all medium(default), compact, and large sizes. You should be able to apply styles to button, a, or div, etc. and get same look.

```html_example
<button class="button--primary--pill">Primary (pill)</button>
<button class="button--primary--compact">Primary (compact)</button>
<button class="button--primary--medium">Primary Button</button>
<button class="button--primary--large">Primary Button (large)</button>
<button class="button--secondary--pill">Secondary (compact)</button>
<button class="button--secondary--compact">Secondary (compact)</button>
<button class="button--secondary--medium">Secondary Button</button>
<button class="button--secondary--large">Secondary Button (large)</button>
<button class="button--alternate--pill">Alternate (compact)</button>
<button class="button--alternate--compact">Alternate (compact)</button>
<button class="button--alternate--medium">Alternate Button</button>
<button class="button--alternate--large">Alternate Button (large)</button>
<button class="button--pill--disabled">Disabled (compact)</button>
<button class="button--compact--disabled">Disabled (compact)</button>
<button class="button--medium--disabled">Disabled Button</button>
<button class="button--large--disabled">Disabled Button (large)</button>
<a class="button--primary--medium">an anchor can be a button</a>
<div class="button--primary--medium">a div can be a button</div>

```
*/
