%button-base {
  -webkit-font-smoothing : subpixel-antialiased;
  appearance             : none;
  background             : $orange;
  border-radius          : 3px;
  color                  : $white;
  cursor                 : pointer;
  display                : inline-block;
  flex-shrink            : 0;
  font-size              : 1.25rem;
  font-weight            : $weight-bold;
  line-height            : 1;
  margin                 : 0 1rem 0 0;
  text-align             : center;
  text-decoration        : none;
  text-shadow: none;
  user-select            : none;
  vertical-align         : middle;
  white-space            : nowrap;
  // transition             : opacity .5s;
  padding                : .75rem 3rem;

  &:visited {
    color                  : $white;
  }

  &:focus {
    outline : none;
  }
}

// super means even more top level than primary, used for the "Add" menu and the 
// central button on tasks, supplies, working groups and projects.
// Feel free to come up with a better name!
.button.button-super, .button-super {

  @extend %button-base;
  background: $button-super;
  border: thin solid $button-super;
  position: relative;
  font-size: 16px;
  padding: 0.75rem 1rem;
  margin: auto;

  &:hover {
    background: $button-super-hover;
  }
  // FIXME this should be inherited from button-base but isnt???
  &:visited {
    color: $white;
  }

  i {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    padding: 1rem;

    font-size: 1.25rem;
    border-left: 1px solid $white;

    &:before {
      color: $white;
    }
  }

}

.button.button-primary, .button-primary {

  @extend %button-base;
  background: $button-primary;
  border: thin solid $button-primary;

  // FIXME this should be inherited from button-base but isnt???
  &:visited {
    color: $white;
  }

  &:hover {
    background: $button-primary-hover;
  }
}

.button.button-primary-inverse, .button-primary-inverse {

  @extend %button-base;
  background: $white;
  color: $button-primary !important;
  border: thin solid $button-primary;

  &:hover {
    color: $button-primary-hover;    
    border: thin solid $button-primary-hover;
  }
}

.button.button-secondary, .button-secondary {

  @extend %button-base;
  background-color: $button-secondary;
  border: thin solid $button-secondary;
  &:hover {
    background: $button-secondary-hover;
  }
}

.button {
  @extend %button-base;
  background: $white;
  border: thin solid $button;
  // FIXME this should be inherited from button-base but isnt???
  color: $button;
  
  &:visited {
    color: $button;
  }

  &:hover {
    color: $button-hover;
    border-color: thin solid darken($button-hover, 10);
  }

}