code, .code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  line-height: 130%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
}

pre > code, .code{
  display: inline-block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
.code {
  white-space : nowrap;
}
