$border-radius: 1.5rem;

.description-details-table {
  background-color: white;
  color: #546E7A;

  > :last-child {
    border-top: thin solid $border-color;
    @include border-top-radius(0em);
  }

  .start-date, .due-date, .date-range {
    .icon {
      @include lale-icon($lale-icon-calendar, 2em);
    }
  }

  .work-group .icon {
    @include lale-icon($lale-icon-archive, 2em);
  }
  .contact .icon {
    @include lale-icon($lale-icon-envelope-open, 2em);
  }

  .project-description .icon {
    //@include lale-icon($lale-icon-project-description, 2em);
  }

  .organizer .details a {
    display: inline-block;
    margin-left: 4px;
  }
  > * {
    padding: 1.5rem;
    border-bottom: none;

    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);

    font-size: 1.5rem;
    .icon {
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);

      min-width: 3rem;
    }
    .detail-title {
      @include flex(0 0 11rem);

      margin-left: 1rem;
    }

    .details {
      @include flex(1);
      font-size: 1.25rem;
      margin-left: 1rem;
    }

  }

}
