$border-radius: 1.5rem;

.description-details-table {
  color: #546E7A;
  
  > :first-child {
    @include border-top-radius($border-radius);
    border-top: none;
  }

  > :last-child {
    @include border-bottom-radius($border-radius);
    border-bottom: none;
  }

  .start-date, .due-date, .date-range {
    .icon {
      @include lale-icon($lale-icon-calendar, 2em);
    }
  }

  .organizer {
    .icon {
      @include lale-icon($lale-icon-user, 2em);
    }
    line-height: 30px;
    .user-icon-container {
      margin-right: 3px;
    }
    .nowrap {
      white-space: nowrap;
    }
  }
  .contact .icon {
    @include lale-icon($lale-icon-envelope-open, 2em);
  }
  .project-description .icon {
    @include lale-icon($lale-icon-info, 2em);
  }

  .organizer .details a {
    display: inline-block;
    margin-left: 4px;
  }
  > * {
    background-color: white;
    padding: 1.5rem;
    border-top: thin solid $border-color;
    border-bottom: thin solid $border-color;

    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);

    font-size: 1.5rem;
    .icon {
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);

      min-width: 3rem;
    }
    .detail-title {
      @include flex(0 0 11rem);

      margin-left: 1rem;
    }

    .details {
      @include flex(1);
      font-size: 1.25rem;
      margin-left: 1rem;
    }

  }

}
