.dropdown {

  $header-height : 4rem;

  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  position: relative;

  [type="checkbox"]:checked {
    & ~ .menu {
      display : block;
    }
  }

  [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position : absolute;
      left     : -9999px;
  }

  [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position     : relative;
      cursor       : pointer;
  }

  label {
    padding: 0 1rem;
    margin: 0;
    height: $header-height;
    width:  100%;
    user-select: none;
  }

  &:hover, label:hover {
    cursor: pointer;
  }

  .menu {
    font-size: 1.5rem;
    background: $white;
    border: thin solid $light-grey;

    -webkit-box-shadow: 3px 3px 3px -3px rgba(0,0,0,0.1), -3px 3px 3px -3px rgba(0,0,0,0.1);
    -moz-box-shadow:    3px 3px 3px -3px rgba(0,0,0,0.1), -3px 3px 3px -3px rgba(0,0,0,0.1);
    box-shadow:         3px 3px 3px -3px rgba(0,0,0,0.1), -3px 3px 3px -3px rgba(0,0,0,0.1);

    min-width: 100%;

    position: absolute;
    z-index: 3001;
    top: $header-height;
    left: auto;
    right: 0;
    display: none;

    line-height: normal;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    white-space: nowrap;

    a {
      display: block;
      width: 100%;
      padding: 1.5rem 2rem;
      border-bottom: thin solid $light-grey;
    }

    a:last-child {
      border-bottom: 0;
    }

    a:hover{
      background: rgba(0,0,0,0.05);
    }

    hr {
      margin: 0;
    }
  }

  .menu.menu-left {
    right: auto;
    left: 0;
  }
}
