.dropdown {

  $label-height : 5rem;

  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  position: relative;

  [type="checkbox"]:checked {
    & ~ .menu {
      display : block;
    }
  }

  [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position : absolute;
      left     : -9999px;
  }

  [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position     : relative;
      cursor       : pointer;
  }

  [type="checkbox"]:checked {
    & ~ label .button {
      background-color: tint($button-super, 20%);
    }
  }
  label {
    padding: 0 1rem;
    margin: 0;
    height: $label-height;
    width:  100%;
    user-select: none;
  }

  &:hover, label:hover {
    cursor: pointer;
  }

  .menu {
    // we want 13px; 1.25rem leads to 12.5px
    font-size: 1.3rem;
    @include text-color($header-bg, $header-bg);
    background: $white;
    border: thin solid $button-super;
    text-align: left;
    -webkit-box-shadow: 7px 7px 3px -3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    7px 7px 3px -3px rgba(0, 0, 0, 0.1);
    box-shadow:         7px 7px 3px -3px rgba(0, 0, 0, 0.1);

    position: absolute;
    // careful not be above the modals
    z-index: 100;
    top: $label-height;
    display: none;

    line-height: normal;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    white-space: nowrap;

    a {
      display: block;
      padding: 1rem 1.5rem;
      border-bottom: thin solid $light-grey;
    }

    a:last-child {
      border-bottom: 0;
    }

    a:hover {
      background: rgba(0, 0, 0, 0.05);
    }

    hr {
      margin: 0;
    }
  }

}
