input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], input[type="number"], textarea, select {
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-family: $fontstack-primary;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], input[type="number"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="number"]:focus, textarea:focus, select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

label, legend {
  margin-right: 1rem;
  font-weight: $weight-normal;
}

fieldset {
  border: 1px solid #C7C7C7;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}


input {
  font-size   : $default-font-size;
  line-height: $default-line-height;
  padding-left: .33rem;
}

.field input[type="checkbox"] ~ label {
  display: inline;
  padding-left: .25rem;
  font-size: 1.25rem;
}

//Dumb that you can't put these together, but you can't.
//When a browser hits an invalid selector, it moves on.
::-webkit-input-placeholder {color : $black; font-weight : 300;}
:focus::-webkit-input-placeholder {color: transparent; font-weight : $weight-normal;}

/* Firefox 18- */
:-moz-placeholder {color : $border-color; font-weight : $weight-normal;}
:focus:-moz-placeholder {color: $border-color; font-weight : $weight-normal;}

/* Firefox 19+ */
::-moz-placeholder {color : $border-color; font-weight : $weight-normal;}
:focus::-moz-placeholder {color: $border-color; font-weight : $weight-normal;}

:-ms-input-placeholder {color : $border-color; font-weight : $weight-normal;}
:focus:-ms-input-placeholder {color: $border-color; font-weight : $weight-normal;}


.checkbox-slider {
  display : flex;
  align-items : center;

  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position : absolute;
    left     : -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position     : relative;
    cursor       : pointer;
  }
  label {
    width         : 4rem;
    height        : 2rem;
    background    : $offwhite;
    border        : 2px solid #CCCCCC;
    border-radius : 2rem;
    &:after {
      content       : '';
      background    : $white;
      border-radius : 2rem;
      border        : 2px solid $deep-orange-500;
      width: 2rem;
      height: 2rem;
      position: absolute;
      left: 0;
      top: -1.5px;
      transition: transform .2s ease, background .3s ease;
    }
  }

  [type="checkbox"]:not(:checked) + label:after {
    transform : translateX(-1px);
  }
  [type="checkbox"]:checked + label:after {
    transform : translateX(100%);
    background : $deep-orange-500;
  }
}

form {
  margin-bottom: 60px;
  @include outer-container();
  margin: 0;
    max-width: 100%;

  h2 {
    color: #FF8F5A;
    font-size: 4rem;
    font-weight: $weight-light;
  }

  section {
    @include shift(1);
    @include span-columns(10);
  }

  .form-introduction {
    margin: 35px 0 45px 0;

    p { margin: 10px 0; }

    &.error {
      color: #d0021b;
    }
  }

  .field-row {
    @include outer-container;
    max-width: 100%;


    margin: 35px 0;

    &.single .field {
      @include span-columns(1 of 1);
    }
  }

  .field-row-3 {
    @include display(flex);
    @include flex-direction(row);
    @include align-items(left);
    margin: 35px 0;
  }

  .field {
    @include span-columns(2 of 4);
  }

  .field.required label:after {
    color: #2C4C5E;
    content: '*';
    font-size: 2rem;
    font-weight: $weight-semibold;
    opacity: 0.4;
    text-transform: uppercase;
    margin-left: 3px;
    vertical-align: sub;
  }

  .field.error label {
    color: #d0021b;
    &:after {
      color: #d0021b;
      opacity: 1;
    }
  }

  label {
    float: left;
    color: #2C4C5E;
    display: block;
    font-size: 1.5rem;
    font-weight: $weight-medium;
    line-height: 21px;
    margin-bottom: 8px;
  }
  span.error_description {
    float: left;
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 8px;
    color: #d0021b;
  }

  input[type='text'], input[type='password'], textarea, input[type='date'], input[type='number'] {
    @include placeholder {
      color: #bfc9ce;
      font-weight: $weight-normal;
    }
    border: 1px solid #2C4C5E;
    border-radius: 3px;
    font-size: 1.4rem;
    font-weight: $weight-normal;
    padding: 7px 8px;
    width: 100%;
  }

  textarea {
    height: 10rem;
    resize: none;
  }

  input[type='date']  {
    &::-webkit-inner-spin-button { display: none; }
    &::-webkit-datetime-edit { font-family: $fontstack-primary; }
  }

  select {
    -webkit-appearance: menulist-button;
    border: 1px solid #2C4C5E;
    font-size: 1.4rem;
    height: 37px;
    width: 100%;
  }

  select.timeselect {
    width: auto;
    display: inline;
  }

  .submit-row {
    margin-top: 40px;
    overflow: hidden;

    a.link {
      /* Cancel: */
      font-size: 1.5rem;
      color: rgba(43,76,94,0.40);
      float: left;
      line-height: 54px;
      text-decoration: none;
    }

    button.button, input[type='submit']{
      @extend .button-primary;
      width: auto;
    }
    .secondary-action {
      float:right;
    }
  }


  button.button, input[type='submit']{
    @extend .button;
  }

  button[type='submit'] {
    @extend .button-primary;
  }

}
