.rich-table {
  padding-top: 1rem;
  padding-bottom: 5rem;

  .item {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: 0px;
      left: 75px;
      bottom: 0;
      border-bottom: thin solid $light-grey;
    }
  }

  .item-title {
    font-size: 1.5rem;
  }

  .item-details {
    @include display(flex);
    padding: 1rem 0 0 0;

    .project-icon i {
      display: inline-block;
      @include lale-icon($lale-icon-checklist, 3.5em);
      margin-top: 0.2rem;
      margin-bottom: 0.25rem;
    }
  }

  .item-content {
    @include flex(1 1 0);
    padding: 1rem 2rem 1rem 2rem;
    -ms-flex: 1;
    .bullet {
      display: inline-block;
      margin-right: 0.25rem;
    }
  }

  .item-stats {
    margin: auto 0;
  }
  .item-assignees {
    display: inline-block;
    margin-right: 1rem;
    .user-icon-container {
      &.more {
        width: auto;
      }
    }
  }

}