.tab-nav {
  border-top: thin solid $blue-dark-1;
  border-bottom: thin solid $blue-dark-1;
  text-align: center;

  a {
    cursor: pointer;
    display: inline-block;
    padding: 1rem 2rem;
  }


  a.selected {
    font-weight: bold;
    background: $blue-light-2;
    border-bottom: thick solid $orange;
  }

  .before-icon {
    padding-right: 0.5rem;
    opacity: 0.8;
    font-size: 12px;
    color: $orange; 
  }
}