/* Tables ---------–––––––––––––––––––––––––––––––––––––––––– */
thead {
  border-bottom: 1px solid #C7C7C7;
}
th {
  font-weight: 400;
  white-space: nowrap
}


/*
Generic Styling, for Desktops/Laptops
*/
table {
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(even) {
  background-color: rgba(68, 176, 248, 0.07);
}
th {
  background: white;
  font-weight: bold;
}
td, th {
  padding: .8rem;
  text-align: left;
}

@media only screen and (max-width: 760px)  {
  thead {
    display: none;
  }
  tr {
    display: flex;
    flex-wrap: wrap;
    background: #eee;
    margin-bottom: 2rem;
  }


  td {
    display: block;
    width: 50%;
    border: 0;
    float: left;
  }
  td:nth-of-type(1)  {
    width: 100%;
    font-size: 3rem;
   }
  td:before {
    font-weight: 700;
    width: 100%;
    clear: both;
    display: block;
  }
	td:nth-of-type(2):before  { content: attr(data-label); }
	td:nth-of-type(3):before  { content: attr(data-label); }
	td:nth-of-type(4):before  { content: attr(data-label); }
	td:nth-of-type(5):before  { content: attr(data-label); }
	td:nth-of-type(6):before  { content: attr(data-label); }
	td:nth-of-type(7):before  { content: attr(data-label); }
	td:nth-of-type(8):before  { content: attr(data-label); }
	td:nth-of-type(9):before  { content: attr(data-label); }
	td:nth-of-type(10):before { content: attr(data-label); }
  td:nth-of-type(10):before { content: attr(data-label); }

}




/* Arrows ---------–––––––––––––––––––––––––––––––––––––––––– */

%arrow-style {
  cursor   : pointer;
  position : relative;
  padding  : 1rem 1rem 1rem 1.6rem;

  &:before {
    top       : 50%;
    transform : translateY(-50%);
    content   : '';
    position  : absolute;
    left      : -.2rem;
    width     : 1rem;
    height    : 1rem;
  }
}
%asc-arrow{
  @extend %arrow-style;

  &:before{
    @include icon-asc-arrow;
  }
}
%desc-arrow{
  @extend %arrow-style;
  &:before {
    @include icon-desc-arrow;
  }
}
%unsorted-arrow{
  @extend %arrow-style;
  &:before {
    @include icon-unsorted-arrow;
  }
}
$arrow-directions: asc desc unsorted;

table {
  // width : 100%;

  @each $direction in $arrow-directions {
    .#{$direction}-arrow a {
      color : $black;
      @extend %#{$direction}-arrow;
    }
  }
}
