.taskable-header {
  margin-bottom: 2rem;

  .date {
    $radius: 0.75rem;
    position: relative;
    float: left;
    text-align: center;
    font-size: 1.75rem;
    @include transform(translate(1.5rem, 1.5rem));

    .month {
      padding: 0.5rem 1rem;
      @include border-top-radius($radius);
    }

    .day {
      display: block;
      padding: 0.25rem 1rem;
      @include border-bottom-radius($radius);
      font-size: 2rem;
      border-top: 0;
      .day_number {
        display: block;
        font-weight: 700;
      }
      .day-of-week {
        font-size: 1.25rem;
      }
    }
  }

  .title {
    font-size: 2.5em;
    @include border-top-radius($border-radius);
    padding: 1rem 2rem 1rem 9rem;
  }
  .description {
    @include border-bottom-radius($border-radius);
    min-height: 8rem;
    font-size: 1.5em;
    padding: 2rem 2rem 2rem 9rem;
  }
}