//
// a user icon is the user's initials in a circle, and the user details on hover.
// 
.user-icon-container {
  display: inline-block;
  margin-right: 0.25rem;
}

@mixin circle-icon($size: 30px, $font-size: 1.5rem) {

  width: $size;
  height: $size;

  color: $blue-dark-2;
  font-size: $font-size;

  border: thin dashed $blue-dark-1;
  border-radius: 50%;

  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  &.accredited {
    border: thin solid $blue-dark-1;
    background-color: $light-grey;
  }
}


.user-icon {
  @include circle-icon();

  &.user-needed {
    @include lale-icon($lale-icon-user);
    border: none;
    background-color: $light-grey;
    color: $grey;
  }
  &.lale-bot {
    border: none;
  }
}

.user-icon:hover + .user-preview, .user-icon + .user-preview:hover {
  @include display(flex);
}

.user-icon + .user-preview {
  display: none;

  @include align-items(center);
  @include justify-content(space-between);

  position: absolute;
  transform: translate(-125px);

  background: $white;
  border: 1px solid $blue-light-1;
  padding: 10px;
  min-width: 300px;
  z-index: 1000;

  text-align: left;

  .user-icon {
    @include circle-icon(50px, 2.5rem);
    border: 1px dashed $blue-dark-1;
  }

  .user-details {
    margin-right: 20px;
  }

  .user-name {
    font-size: 2rem;
    color: $blue;
  }

  .user-name:hover {
    border-bottom: 1px solid $blue;
  }

  .email {
    font-size: 1.8rem;
    color: $blue-dark-1;
  }

  .mobile_phone, .home_phone {
    color: $blue-dark-2;
    font-size: 1.5rem;
  }

  .mobile_phone {
    margin-top: 15px;
  }
}
