body.internal .working-group {

  .header {
    @include display(flex);
    @include flex-direction(row);
    @include align-items(top);
    @include flex-wrap(wrap);
    margin-bottom: 20px;

    .left {
      max-width: 650px;
      @include flex(3 0 50rem);
      .title {
        font-size: 26px;
      }

      .description {
        color: darken($blue-light-1, 20%);
        font-size: 1.6rem;
      }
    }

    .right {
      margin-left: 3rem;
      @include flex(0 0 30rem);
      padding: 0 10px;
      .button-super {
        width: 100%;
      }
    }

  }

  .details {
    @include display(flex);
    @include flex-direction(row);
    @include align-items(top);
    @include flex-wrap(wrap);

    main {
      max-width: 650px;
      @include flex(3 0 50rem);
    }

    .tab  {
      &.projects, &.documents {

        .default-table {
          th, td {
            font-weight: normal;
            font-size: 1.5rem;
          }
        }
      }
    }

    aside {
      margin-left: 3rem;
      @include flex(0 0 30rem);

      .users-box {
        margin-bottom: 2rem;

        .actions {
          margin-bottom: 1.5rem;

          .button, .button-primary {
            width: 100%;
            margin: 0.5rem 0;
          }
        }

      }
    }
  }

}
