.working-group-dashboard {  
  .header {
    .left {
      .title {
        i {
          @include lale-icon($lale-icon-archive, 1.25em);
        }
      }
    }
    .description {
        overflow-y: auto; 
        max-height: 3.5em;
        text-align: justify;
        text-justify: inter-word; 
    }
  }

  // it's much easier to hide the message (which should be hidden ) with CSS
  // than in Ruby/HTML rendering.
  .project-list .subtitle {
    display: none;
  }
}