@mixin text-color($color) {
  color: $color;

  a, a:visited, &:visited {
    color: $color;
    text-decoration: none;
  }
}


html {
  background-color : $page-bg;
  @include text-color($body-text);
}

nav{
  background: $nav-bg;
  @include text-color($nav-text);
  h2, h3, h4 {
    @include text-color($nav-text-active);
  }

  .selected {
    @include text-color($nav-text-active);

    &:before{
      background: $blue-light;
    }
  }
}

header{
  background:  $header-bg;
  @include text-color($header-text);

  .open {
    background: $page-bg;
    @include text-color($header-bg);

    .menu {
      background: $page-bg;
      @include text-color($header-bg);
    }
  }
}


