@mixin text-color($text, $link) {
  color: $text;

  a, a:visited, &:visited {
    color: $link;
    text-decoration: none;
  }
}


html {
  background-color : $body-bg;
  @include text-color($body-text, $body-link);
}

body.internal {
  nav{
    background: $nav-bg;
    @include text-color($nav-text, $nav-text);
    h2, h3, h4 {
      @include text-color($nav-text-active, $nav-text-active);
    }

    .badge {
      background: $nav-bg-active;
      @include text-color($nav-text-active, $nav-text-active);
    }

    .selected {
      background: $nav-bg-active;
      @include text-color($nav-text-active, $nav-text-active);
      font-weight: bold;

      .badge {
        background: $body-text;
        @include text-color($nav-bg-active, $nav-bg-active);
      }
    }
  }

  header{
    background:  $header-bg;
    @include text-color($header-text, $header-text);

    .circle-add-menu {
      .icon {
        width: 28px;
        height: 28px;
      }

      :before {
        @include text-color($header-bg, $header-bg);
      }
    }

    [type="checkbox"]:checked {
      & ~ label {
        background: $body-bg;
        @include text-color($header-bg, $header-bg);

        :before {
          @include text-color($body-bg, $body-bg);
        }
      }
    }

    .dropdown .menu {
      background: $body-bg;
      @include text-color($header-bg, $header-bg);
    }
  }
}



