@import "bourbon";
@import "neat";
@import "settings/**/*";
@import "helpers/**/*";
@import "components/**/*";
@import "layout/**/*";
@import "views/**/*";

.circle-marker {
  width: 20px;
  height: 20px;
  border: 1px solid #088;
  border-radius: 10px;
  background-color: #0FF;
  opacity: 0.5;

  .description {
    display: none;
    text-align: center;
    opacity: 1;
    background: white;
    width: 15em;
    height: 5em;
    margin-left: 2em;
    margin-top: -2em;
  }
}
.circle-marker.open {
  .description { display: block; }
}

.map {
  height: 400px;
}