@import "bourbon";
@import "neat";

@import "font-awesome-sprockets";
@import "font-awesome";
@import "octicons/octicons/sprockets-octicons";
@import "datetimepicker/build/jquery.datetimepicker.min";
@import "select2/dist/css/select2";
@import "remodal/dist/remodal";
@import "remodal/dist/remodal-default-theme";

@import "settings/**/*";
@import "helpers/**/*";
@import "components/**/*";
@import "layout/**/*";
@import "views/**/*";
@import "_theme";

span.translation_missing {
  color: red;
}

.env-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #000;
  padding: 4px;
  width:280px;
  text-align: center;
  background-color: $orange;
  opacity: 0.7;
}