- content_for :header_middle do
  a.back href=circle_project_path(current_circle, current_project) = t('.back')

h2 = t('helpers.header.edit', name: current_project.name)
= render 'form', locals: {delete: true}