.new_task, .edit_task {

  // temp workaround for datepicker overflowing the page
  padding-bottom: 200px;

  #task_scheduled_time_type {
    height: 33px;
  }

  .datepicker {
    width: 100px;
  }

  .timepicker {
    width: 85px;
  }

  .field-3 {
    margin-right: 15px;
  }
}

// FIXME not enough for Safari, calendar still too wide
.xdsoft_calendar table {
  min-width: auto;
}